body {
  padding: 0;
  margin: 0;
}

.navbar-wrapper {
  border: solid 1px red;
  height: 50px;
}

.content-wrapper {
  border: solid 1px blue;
  height: 1000px;  
}

.footer-wrapper {
  border: solid 1px green;
  height: 240px;
  background: #333;
  color: white;
}